<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <title>Document</title>
    {% block styles %} {{ bootstrap.load_css() }} {% endblock %}
  </head>
  <body>
    <header class="d-flex justify-content-between align-items-center">
      <h1 class="logo-title">FINTECH<br/>SCHOOL</h1>
      <ul class="nav-bar d-flex justify-content-between list-unstyled">
        <li><a href="{{ url_for('home') }}" class="nav-element">HOME</a></li>
        <li><a href="#" class="nav-element">ABOUT COURSE</a></li>
        <li><a href="#" class="nav-element">LOG IN</a></li>
        <li><a href="#" class="nav-element">SIGN UP</a></li>
        {% if current_user.isAdmin %}
          <li><a href="{{ url_for('admin') }}" class="nav-link px-2">Admin</a></li>
        {% endif %}
      </ul>
    </header>