{% include "header.html" %}

<style>
  .nav-element {
      color: var(--white-text);
  }

  .logo-title {
      color: var(--font-yellow);
  }

  @media (max-width: 768px) {
  .auth-card-container {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 60%;
    background-color: var(--bg-white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 8% 0 8%; 
    }
  }
</style>
    <div class="auth-container">
      <div class="auth-card-container">
        <form class="card-content-container" action="{{ url_for('login') }}" method="post">
          {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
          <p class="text-center">{{ message }}</p>
          {% endfor %} {% endif %} {% endwith %}
          <h2 class="label-title">Логін</h2>
          <input class="form-control login-input" type="login" name="login" required="required">
          <h2 class="label-title">Пароль</h2>
          <input class="form-control login-input" type="password" name="password" required="required">
        
        <div class="auth-options">
          <label class="d-flex align-items-center"><input type="checkbox" value="remember-me" /> Remember Me</label>
          <a class="account-options" href="">FORGOT PASSWORD?</a>
        </div>
        <button class="auth-button" type="submit">Log In</button>
        <a class="account-options" href="{{ url_for('register') }}">Ще не маєш акаунту?</a>
      </form>
      </div>
      <div class="auth-title-container ">
        <h1>ПРОДОВЖУЙ СВІЙ КУРС</h1>
      </div>
    </div>
  </div>
<div class="login-bg-image"></div>