{% include "header.html" %}

<style>
  .nav-element {
      color: var(--white-text);
  }

  .logo-title {
      color: var(--font-yellow);
  }
</style>
  
    <div class="auth-container">
      <div class="auth-card-container">
        <form class="card-content-container" action="{{ url_for('login') }}" method="post">
          {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
          <p class="text-center">{{ message }}</p>
          {% endfor %} {% endif %} {% endwith %}
          <h2>Логін</h2>
          <input class="form-control" type="login" name="login" required="required">
          <h2>Пароль</h2>
          <input class="form-control" type="password" name="password" required="required">
        
        <div class="auth-options">
          <label class="d-flex align-items-center"><input type="checkbox" value="remember-me" /> Remember Me</label>
          <a class="account-options" href="">FORGOT PASSWORD?</a>
        </div>
        <button class="auth-button" type="submit">Log In</button>
        <a class="account-options" href="{{ url_for('register') }}">Ще не маєш акаунту?</a>
      </form>
      </div>
      <div class="auth-title-container ">
        <h1>ПРОДОВЖУЙ СВІЙ КУРС</h1>
      </div>
    </div>
  </div>
<div class="auth-bg-image"></div>